body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border:hover{
    border: 1px wheat solid;
}
header{
    width: 100%;
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0px;

}
.menu{
    width: 100%;
}
.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
 .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
 }
 @media (max-width: 460px) {
     .menu ul li a{
        font-size: 0.8rem;
     }
    
 }
 @media (max-width: 260px) {
     .menu ul li a{
        font-size: 0.5rem;
     }
    
 }
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.logo .img{
    font-size: 2rem;
   text-align: center;
   padding-top: 1rem;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
}
@media (min-width : 100px) and (max-width : 385PX) {
    .logo{
        display: none;
    }
    
}

.container{
    width: 100%;
    height:50vh;
    background:radial-gradient(#499FA4 , #BEC6C3 , #E9BC8B ,#3D4A55);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5%;
    z-index: -1;
}


.inner-container{
    width: 60%;
    height: 100% ;
    display: flex;
    align-items: center;
}
@media (max-width:1024px) {
    .inner-container{
        width: 100%;
    }
    .inner-container .contant{
       font-size: 1.5rem;
    }
    
}

.inner-container .contant{
    width: 50%;
    height: 70%;
   text-align: center;
   position: relative;
   animation: jump 3s 0.5s 2  normal;
}
@media (max-width :370px) {
    .inner-container .contant{
        font-size: 0.6rem;
    }
    .menu ul li{
        font-size: 0.6rem;
    }
    
}
@media (max-width :220px) {
    .inner-container .contant{
        font-size: 0.4rem;
    }   
}

@keyframes jump {
    0%{
        top: 0px;
    }
    100%{
        top: 90px;
    }
}
.inner-container .img{
    width: 50%;
    height: 100%;
    background-image: url(/images/mysecond.png);
    background-size: cover;
    
}
@media (max-width :910px) {
    .inner-container{
        display: flex;
        flex-direction: column;
    }
    .inner-container .img{
        width: 100%;
    }
    
    .inner-container .contant{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:270px) {
    .inner-container 
    {
       
        width: 100%;
    }
    
}


.last-div{
    width: 100%;
    height: 100vh;
    background: radial-gradient(#439FA4 , #BEd6C3 8% , #E2BC8B 5% ,#3D4b55);
    display: flex;
    justify-content: space-around;
}

.box{
    width: 40%;
    height: 100%;
    background-image: url(/images/my.png);
    background-repeat: no-repeat;
}
@media (max-width : 820px) {
    .box{
        width: 100%;
    }
    
}
@media (max-width : 680px) {
    .box1{
        display: none;
    }
    
}

.box h1{
    color: white;
    padding-top: 3rem;
    padding-right: 2rem;
}

.test{
    height: 90vh;
    display: flex;
    align-items: flex-end;
   justify-content: space-between;
}

.test-box{
    height: 40vh;
    width: 20%;
    text-align: center;
    text-align: justify;
}
@media (max-width:880px) {
    .test{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width:880px) {
    .test-box{
        width: 100%;
    }
}
@media (max-width:490px) {
    .test-box{
       font-size: 0.6rem;
       
    }
}
footer{
    text-align: center;
    height: 30px;
    color: white;
    padding-top: 0.4rem;
    background-color: gray;
}
footer span{
    color: blue;
    position: static;
    bottom: 0px;
}